@import "tailwindcss";

@theme {
  --font-cairo: "Cairo", sans-serif;
}

body {
    font-family: 'Cairo', sans-serif;
    scroll-behavior: smooth;
}

.glass-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

@keyframes shimmer {
    0% { transform: translateX(-100%) skewX(-12deg); }
    100% { transform: translateX(200%) skewX(-12deg); }
}